<tr>
  <td><%= achievement.name %></td>
  <td><%= achievement.additional_info %></td>
  <td></td>
  <td class="auto-width"><%= quarter(achievement.ready) %></td>
  <td class="text-center"><%= achievement.rollout %></td>
</tr>