<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <button type="button" class="button" data-toggle="offCanvas"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <li class="brand"><%= link_to 'DITNO', root_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">

    </ul>

  </div>
</div>