<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="text-center">
    Daimler DITNO
  </div>
  <ul class="vertical menu sidemenu">

  </ul>
</div>